@import url('https://fonts.googleapis.com/css2?family=pacific&family=Rock+Salt&display=swap');

:root {
    --primary-color: #191061;
    --secondary-color: #F0F7F4;
    --accent1-color: #99E1D9;
    --accent2-color: #70ABAF; 

    --heading-font: 'pacific', serif;
    --paragraph-font: 'satisfy', serif;
    
    --nav-background-color: #481865;
    --nav-link-color: #7F4ED4;
    --nav-hover-link-color: #AF8AEF;
    --nav-hover-background-color: #2a0687;
}
nav ul{
    float: right;
    margin-right: 20px
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px
  }
  nav ul li a{
    color: #0e5936;
    font-size: 18px;
    padding: 7px 13;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active, a:hover{
    background: #33085c;
    transition: .5s;
body {
  font-family: var(--paragraph-font);
  max-width: 960 pixels;
  padding: 20 pixels;
}

}